*{
  margin: 0px;
  box-sizing: border-box;
}
ul, li, ol{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  background-color: #F8FAFD !important;
  overflow-y: hidden;
}
ul,ol,li {
  padding-left: 0;
  list-style: none;
}